@charset "UTF-8";
@import "./reset.css";
:root {
  font-size: 10px;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.hamburger-menu {
  display: none;
}

.stop-scrolling {
  position: fixed;
  width: 100%;
}

header {
  width: 100vw;
  overflow: hidden;
}
header .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
header .logo-link {
  width: 100%;
  outline: none;
}
header .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
header .social_language-lang {
  display: inline-block;
  margin-right: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}
header .social_language-select {
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: normal;
  border: none;
  outline: none;
}
header .social_language-select:hover {
  cursor: pointer;
}
header .social_language-select-option {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: normal;
  background: #FFFFFF;
}
header .social_eye {
  margin: 0 19.5rem 0 43.1rem;
  outline: none;
}
header .social_eye a {
  outline: none;
}
header .social_networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .social_networks .phone {
  margin-right: 1.5rem;
}
header .social_networks .phone-2 {
  margin-left: 1.5rem;
}
header .social_networks .icon-img {
  margin-right: 1rem;
}
header .social_networks .phone-num {
  font-size: 11px;
  letter-spacing: 1px;
}
header .social_networks-item {
  height: 100%;
  margin: 0;
}
header .social_networks-link {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
header .social_networks-link img {
  display: block;
}
header .social_networks .last-li-absolute {
  position: absolute;
  right: -5.6rem;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation .menu-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .navigation .menu-list-item {
  height: 100%;
  margin: 0 2.5rem;
  margin-bottom: 0.8rem;
}
header .navigation .menu-list .last-li {
  margin-right: 1rem;
}
header .navigation .menu-list .last-li-absolute {
  position: absolute;
  right: -8.6rem;
}
header .navigation .menu-list-link {
  display: block;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  outline: none;
}
header .navigation .menu-list-link img {
  display: block;
}

main {
  width: 100vw;
  overflow: hidden;
}

.main-screen .wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  position: relative;
}
.main-screen .carousel-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  outline: none;
}
.main-screen .carousel-item-content {
  position: absolute;
  top: 16rem;
  left: 37.5rem;
  max-width: 57rem;
  text-align: left;
}
.main-screen .carousel-img {
  width: 100%;
}
.main-screen .content-title {
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 2rem;
}
.main-screen .content-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5rem;
}
.main-screen .main-button {
  width: 200px;
  height: 45px;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #DEC377;
  border-radius: 0.2rem;
  border: 0;
  outline: none;
}
.main-screen .main-button:hover {
  cursor: pointer;
  background: rgba(222, 195, 119, 0.75);
}
.main-screen .advantages {
  position: absolute;
  bottom: -19.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
}
.main-screen .advantages-card {
  margin: 0 1.5rem;
  padding: 5rem 2rem 4rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}
.main-screen .advantages-card-container-icon {
  margin: 0 auto 2.5rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.main-screen .advantages-card-container-icon-img {
  top: 50%;
  transform: translate(50%, 50%);
}
.main-screen .advantages-card-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
  width: 23rem;
  text-align: center;
}
.main-screen .advantages-card:first-child {
  margin-left: 0;
}
.main-screen .advantages-card:last-child {
  margin-right: 0;
}
.main-screen .introduction .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  position: relative;
}

#main-slider > button.slick-prev {
  position: absolute;
  bottom: 120px;
  left: 399px;
  z-index: 2;
  width: 1.8rem;
  height: 1.8rem;
}

#main-slider > button.slick-next {
  position: absolute;
  bottom: 120px;
  left: 453px;
  z-index: 2;
  transform: rotate(180deg);
  width: 1.8rem;
  height: 1.8rem;
}

.introduction {
  background: #E5E5E5;
}
.introduction .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding-top: 29.5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.introduction-content {
  padding: 5rem 6rem 6rem 7rem;
  background-color: #FFFFFF;
}
.introduction-title {
  margin-bottom: 3rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.introduction-text {
  margin-bottom: 2.5rem;
  padding-right: 7rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.introduction-text-last {
  margin-bottom: 0;
}

.main-directions {
  background: #E5E5E5;
}
.main-directions .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5rem 0 5rem;
}
.main-directions-title {
  margin-bottom: 3.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.main-directions-services {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-directions-services-card {
  margin-bottom: 3rem;
  padding: 1.5rem 1.5rem 2.5rem 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.main-directions-services-card-content {
  padding-top: 1rem;
  width: 18rem;
  margin-right: 5.5rem;
}
.main-directions-services-card-content h5 {
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.9);
}
.main-directions-services-card-content a {
  display: inline-block;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.main-directions-services-card-content .link-marg {
  margin-top: 40px;
}
.main-directions-button {
  width: 20rem;
  height: 4.5rem;
  border: none;
  outline: none;
  background: #DEC377;
  border-radius: 2px;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-directions-button:hover {
  cursor: pointer;
  background: rgba(222, 195, 119, 0.75);
}

.work-principles {
  position: relative;
  width: 100vw;
  max-height: 76rem;
  background: #E5E5E5;
}
.work-principles .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5rem 0;
}
.work-principles-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.work-principles-title {
  margin: 0 3rem 0 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.work-principles-content {
  margin-bottom: 3.5rem;
  max-width: 77rem;
}
.work-principles-content p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.work-principles-content p:first-child {
  margin-bottom: 2.5rem;
}
.work-principles-slider {
  position: relative;
}
.work-principles-slider .work-principl-img {
  width: 117rem;
  z-index: 5;
}

#work-principles-slider > button.slick-prev {
  position: absolute;
  bottom: 265px;
  left: -60px;
  z-index: 2;
  width: 2.5rem;
  height: 3rem;
}

#work-principles-slider > button.slick-next {
  position: absolute;
  bottom: 265px;
  right: -60px;
  transform: rotate(180deg);
  z-index: 20;
  width: 2.5rem;
  height: 3rem;
}

.partner-reviews {
  padding: 21rem 0 10.5rem 0;
}
.partner-reviews .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.partner-reviews-title {
  margin: 0 0 3.5rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.partner-reviews-slider {
  margin-bottom: 3rem;
}
.partner-reviews-slider .partner-review {
  max-width: 57rem;
  text-align: left;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}
.partner-reviews-slider .partner-review-img {
  display: inline-block;
  margin-bottom: 4rem;
}
.partner-reviews-slider .partner-review-content {
  padding: 0 5rem 6.5rem 5rem;
}
.partner-reviews-slider .partner-review-person {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.partner-reviews-slider .partner-review-name {
  margin-bottom: 2rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 4rem;
  letter-spacing: 0.01em;
  color: #DEC377;
}
.partner-reviews-slider .partner-review-text {
  margin-bottom: 2.5rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
}
.partner-reviews-slider .partner-review-link {
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.partner-reviews-button {
  width: 20rem;
  height: 4.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #DEC377;
  border: none;
  border-radius: 2px;
  outline: none;
}
.partner-reviews-button:hover {
  cursor: pointer;
  background: rgba(222, 195, 119, 0.75);
}

#partner-reviews-slider > button.slick-prev {
  position: absolute;
  bottom: -70px;
  right: 83px;
  z-index: 2;
  width: 1rem;
  height: 3rem;
}

#partner-reviews-slider > button.slick-next {
  position: absolute;
  bottom: -60px;
  right: 23px;
  transform: rotate(180deg);
  z-index: 2;
  width: 1rem;
  height: 3rem;
}

.clients .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 10rem 0;
}
.clients-content {
  display: flex;
  justify-content: left;
  margin-bottom: 4rem;
}
.clients-content-text {
  margin: 0 10rem 0 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  max-width: 67rem;
}
.clients-content-button {
  width: 20rem;
  height: 4.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #DEC377;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #DEC377;
  border: none;
  border-radius: 2px;
  outline: none;
}
.clients-content-button:hover {
  cursor: pointer;
  color: rgba(222, 195, 119, 0.75);
}
.clients-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  mix-blend-mode: luminosity;
}
.clients-images img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  mix-blend-mode: luminosity;
}

.triangle {
  background-color: #E5E5E5;
}
.triangle .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8rem 0 10rem 0;
}
.triangle-top {
  display: flex;
  margin-bottom: 3rem;
}
.triangle-top-left {
  box-sizing: border-box;
  margin-right: 1.5rem;
  padding: 4rem 5rem 5.5rem 5rem;
  max-width: 57rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.triangle-top-right {
  box-sizing: border-box;
  margin-left: 1.5rem;
  padding: 4rem 5rem 5.5rem 5rem;
  max-width: 57rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}
.triangle-top-right-rectangle {
  position: absolute;
  top: 0;
  right: 0;
}
.triangle-top h4 {
  margin: 0 0 1.5rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 4.5rem;
  color: rgba(0, 0, 0, 0.9);
  max-width: 45rem;
}
.triangle-top p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.triangle-bottom {
  padding: 3.5rem 5rem 4.5rem 5rem;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.triangle-bottom h4 {
  margin: 0 10rem 0 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 4.5rem;
  color: rgba(0, 0, 0, 0.9);
  max-width: 32rem;
}
.triangle-bottom p {
  padding-top: 0.5rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  max-width: 72rem;
}

.banner-img-pen {
  width: 100%;
  overflow: hidden;
}

.services {
  background-color: #E5E5E5;
}
.services .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8rem 0 10rem 0;
}
.services-title {
  margin: 0 0 3.5rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.services-container {
  margin-bottom: 5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 140px 140px 140px 140px 140px;
  grid-template-columns: 470px 1fr 1fr 470px;
  grid-gap: 3rem;
}
.services-container div {
  padding: 2.5rem 3rem 0 10rem;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
.services-container h5 {
  margin: 0 0 4.5rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.9);
}
.services-container a {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  display: block;
  text-align: right;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.services-container-item-1 {
  grid-column: 1/2;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.4);
  position: relative;
}
.services-container-item-2 {
  grid-column: 2/5;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.4);
  position: relative;
}
.services-container-item-3 {
  grid-column: 1/3;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.75);
  position: relative;
}
.services-container-item-4 {
  grid-column: 3/5;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.75);
  position: relative;
}
.services-container-item-5 {
  grid-column: 1/4;
  box-shadow: inset 7rem 0 0 0 #DEC377;
  position: relative;
}
.services-container-item-5 h5 {
  margin: 0 0 1.5rem 0;
}
.services-container-item-6 {
  grid-column: 4/5;
  box-shadow: inset 7rem 0 0 0 #DEC377;
  position: relative;
}
.services-container-item-7 {
  grid-column: 1/3;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.75);
  position: relative;
}
.services-container-item-8 {
  grid-column: 3/5;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.75);
  position: relative;
}
.services-container-item-9 {
  grid-column: 1/2;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.4);
  position: relative;
}
.services-container-item-10 {
  grid-column: 2/5;
  box-shadow: inset 7rem 0 0 0 rgba(222, 195, 119, 0.4);
  position: relative;
}
.services-describe {
  display: flex;
  justify-content: space-between;
}
.services-describe-text {
  max-width: 77rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.services-describe-button {
  width: 200px;
  height: 45px;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #DEC377;
  border-radius: 0.2rem;
  border: 0;
}
.services-describe-button:hover {
  cursor: pointer;
  background: rgba(222, 195, 119, 0.75);
}

.confidence-benefit {
  background-color: #FFFFFF;
}
.confidence-benefit .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 6.7rem 0 9.5rem 0;
}
.confidence-benefit-content {
  display: flex;
  justify-content: left;
  align-items: center;
}
.confidence-benefit-content:first-child {
  margin-bottom: 5.3rem;
}
.confidence-benefit-content:last-child {
  margin-top: 4.1rem;
}
.confidence-benefit-content-left {
  max-width: 47rem;
  margin-right: 14.9rem;
  padding-bottom: 23px;
}
.confidence-benefit-content-left h2 {
  margin: 0 0 3rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.confidence-benefit-content-left p {
  margin: 0 0 3.5rem 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.confidence-benefit-content .last-item {
  padding: 2.8rem 0 0 0;
}
.confidence-benefit-content-right {
  padding: 19px 0 6px 0;
  max-width: 44.4rem;
}
.confidence-benefit-content-right li {
  margin: 0 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 3rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 7rem;
  margin-bottom: 3.3rem;
  position: relative;
}
.confidence-benefit-content-right li:last-child {
  margin-bottom: 0;
}
.confidence-benefit-content-right li:before {
  position: absolute;
  left: 0;
  top: 65%;
  transform: translateY(-50%);
  content: url(../assets/images/group-icon.png);
  margin-right: 3rem;
}

.advantages-block2 {
  background-color: #E5E5E5;
}
.advantages-block2 .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8rem 0 10rem 0;
}
.advantages-block2-title {
  margin: 0 0 3.5rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.advantages-block2 .advantages {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.advantages-block2 .advantages-card {
  margin: 0 1.5rem;
  padding: 5rem 2rem 4rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}
.advantages-block2 .advantages-card-container-icon {
  margin: 0 auto 2.5rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  position: relative;
}
.advantages-block2 .advantages-card-container-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.advantages-block2 .advantages-card-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
  width: 23rem;
  text-align: center;
}
.advantages-block2 .advantages-card:first-child {
  margin-left: 0;
}
.advantages-block2 .advantages-card:last-child {
  margin-right: 0;
}
.advantages-block2-text {
  padding: 4rem 36.9rem 4.5rem 5rem;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.advantages-block2-text-rectangle {
  position: absolute;
  top: 0;
  right: 0;
}

.cooperation {
  background-color: #E5E5E5;
}
.cooperation .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 10rem 0;
  display: flex;
  justify-content: space-between;
}
.cooperation-content {
  max-width: 50rem;
}
.cooperation-content-title {
  margin: 0 0 3.5rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.cooperation-content-list {
  margin: 0 0 3.5rem 0;
}
.cooperation-content-list li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 9.8rem;
  position: relative;
}
.cooperation-content-list li:before {
  position: absolute;
  left: 0;
}
.cooperation-content-list .first {
  margin-bottom: 2.8rem;
}
.cooperation-content-list .first:before {
  content: url(../assets/images/number-1.png);
}
.cooperation-content-list .second:before {
  content: url(../assets/images/number-2.png);
}
.cooperation-content-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
}
.cooperation-form {
  max-width: 57rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 4rem 5rem 5rem 5rem;
}
.cooperation-form .contact-form__input-wrapper {
  width: 100%;
  margin-bottom: 2rem;
}
.cooperation-form .contact-form__input-wrapper .contact-form-label {
  display: block;
  margin: 0 0 1.2rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.cooperation-form .contact-form__input-wrapper .contact-form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}
.cooperation-form .contact-form__input-wrapper .contact-form-input::placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.cooperation-form .contact-form__input-wrapper p {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.cooperation-form .contact-form__input-wrapper a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
.cooperation-form .contact-form-button {
  margin-top: 1rem;
  width: 47rem;
  height: 4.5rem;
  border: none;
  outline: none;
  background: #DEC377;
  border-radius: 2px;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.cooperation-form .contact-form-button:hover {
  cursor: pointer;
  background: rgba(222, 195, 119, 0.75);
}

.service-cost {
  background-color: #E5E5E5;
}
.service-cost .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 10rem 0;
}
.service-cost-title {
  margin: 0 0 3.3rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}
.service-cost-text {
  margin: 0 0 2.7rem 0;
  max-width: 67rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.service-cost-button {
  width: 20rem;
  height: 4.5rem;
  border: none;
  outline: none;
  background: #DEC377;
  border-radius: 2px;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.service-cost-button:hover {
  cursor: pointer;
  background: rgba(222, 195, 119, 0.75);
}

hr {
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}

.footer {
  width: 100vw;
  background-color: #E5E5E5;
}
.footer .wrapper {
  max-width: 117rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4.8rem 0 6rem 0;
  display: flex;
  justify-content: left;
}
.footer-social {
  margin-right: 3rem;
  max-width: 27rem;
}
.footer-social-title {
  margin: 0 0 7rem 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.9);
}
.footer-social-unp {
  margin: 0 0 1rem 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.footer-social-unp span {
  display: inline-block;
  margin-right: 1.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}
.footer-social-rating {
  margin: 0 0 6rem 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.footer-social-rating span {
  display: inline-block;
  margin-right: 1.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}
.footer-social-list {
  margin: 0 0 5rem 0;
  display: flex;
  justify-content: left;
}
.footer-social-list li {
  margin: 0 1.5rem 0 0;
}
.footer-social-list li:last-child {
  margin: 0 0 0 0;
}
.footer-social-list li a {
  width: 100%;
  height: 100%;
}
.footer-social-container-link {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 0 3rem 0;
}
.footer-social-container-link img {
  display: inline-block;
}
.footer-social-mapsite {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
}
.footer-social-privacy-policy {
  display: block;
  margin: 0 1.5rem 0 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
}
.footer-offices {
  margin-right: 3rem;
  padding-top: 3.5rem;
}
.footer-offices-title {
  margin-bottom: 0.5rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.footer-offices-subtitle {
  margin: 0 0 1rem 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.75);
}
.footer-offices-content {
  display: flex;
  justify-content: space-between;
  padding: 2.9rem 0 0 0;
}
.footer-offices-content-1 {
  max-width: 20rem;
}
.footer-offices-content-2 {
  max-width: 20rem;
  margin: 0 3.5rem;
}
.footer-offices-content-3 {
  max-width: 20rem;
}
.footer-offices-content-contact-city {
  margin-bottom: 3.5rem;
}
.footer-offices-content-phone {
  padding: 1rem 0 2rem 0;
}
.footer-offices-content-phone a {
  display: block;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
.footer-offices-content-address {
  margin-bottom: 2rem;
}
.footer-offices-content .caption {
  margin-bottom: 0.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.75);
}
.footer-offices-content .address {
  margin-bottom: 0.5rem;
  padding-right: 2.4rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
.footer-offices-content .resident {
  display: block;
  margin: -0.5rem 0 1.9rem 0;
}
.footer-offices-content .mail {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  outline: none;
}
.footer-offices-content .mail:hover {
  cursor: pointer;
}
.footer-working-hours {
  max-width: 17rem;
  padding-top: 3.5rem;
}
.footer-working-hours hr {
  margin-bottom: 2.9rem;
}
.footer-working-hours .working-hours-block {
  margin-bottom: 3rem;
}
.footer-working-hours .caption {
  margin-bottom: 0.5rem;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.75);
}
.footer-working-hours .working-hours {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.footer .footer-copyrite {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1.7rem 2.5rem 1.8rem 2.5rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

/* Slider */
.slick-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slider-wrapp {
  background-color: transparent;
  outline: none;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow {
  background: url(../assets/images/arrow-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  font-size: 0;
}
.slick-arrow:hover {
  cursor: pointer;
}

.slick-arrow.slick-hidden {
  display: none;
  font-size: 25px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -55px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 6px;
  line-height: 10px;
  text-align: center;
  background-color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 100%;
}
.slick-dots li.slick-active button:before {
  background-color: #DEC377;
  opacity: 0.75;
}

@media (max-width: 1700px) {
  .main-screen .carousel-item-content {
    position: absolute;
    top: 20%;
    left: 14%;
  }
  .main-screen .advantages {
    bottom: -43%;
  }

  #main-slider > button.slick-prev {
    bottom: 50%;
    left: 5%;
  }

  #main-slider > button.slick-next {
    bottom: 50%;
    left: 95%;
  }
}
@media (max-width: 1300px) {
  header .social {
    margin-bottom: 0rem;
    padding-left: 3rem;
    justify-content: left;
  }

  header .social_eye {
    margin: 0rem;
    margin-left: 2rem;
  }

  /*********Меню-гамбургер************/
  header .social_networks,
header .navigation {
    display: none;
  }

  .hamburger-menu {
    position: absolute;
    display: block;
    z-index: 30;
  }

  .social-hamburger {
    display: flex;
    justify-content: space-between;
  }
  .social-hamburger a > img {
    margin: 0 auto;
  }

  #menu-toggle {
    opacity: 0;
    position: fixed;
    top: 47px;
    right: 55px;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 55px;
    width: 27px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #DEC377;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }

  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  /* контейнер меню */
  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding-top: 7rem;
    list-style: none;
    text-align: center;
    background-color: #DEC377;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .menu-box li {
    margin: auto;
    margin-bottom: 2rem;
    padding: 0 8px;
    max-width: 24.3rem;
    line-height: 5.12rem;
  }
  .menu-box .list__link_active {
    border-bottom: #DEC377 3px solid;
  }
  .menu-box .logo-menu-box {
    position: absolute;
    left: 0.2rem;
    top: 3rem;
  }

  /* элементы меню */
  .menu-item {
    display: block;
    padding: 0;
    width: 100%;
    font-family: "Commissioner", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;
    text-decoration: none;
  }

  .menu-item:hover {
    background-color: #CFD8DC;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(90deg);
    transition: 0.8s ease;
    background-color: #FFFFFF;
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 1rem;
    transform: rotate(180deg);
    transition: 0.8s ease;
    background-color: #FFFFFF;
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: -1rem;
    transform: rotate(180deg);
    transition: 0.8s ease;
    background-color: #FFFFFF;
  }

  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    transition: 0.8s ease;
    right: 0;
  }

  .main-screen .advantages {
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    background-color: #E5E5E5;
  }
  .main-screen .advantages-card {
    margin: 1rem 1.5rem;
  }
  .main-screen .advantages-card:first-child {
    margin-left: 1.5rem;
  }
  .main-screen .advantages-card:last-child {
    margin-right: 1.5rem;
  }

  .introduction .wrapper {
    padding: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: none;
  }
  .introduction-content {
    margin-bottom: 2rem;
  }
  .introduction-title {
    padding: 0 16rem;
    text-align: center;
  }
  .introduction-text {
    padding-right: 0;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .work-principles {
    max-height: none;
  }
  .work-principles .wrapper {
    padding-bottom: 8rem;
  }
  .work-principles-slider {
    position: relative;
  }
  .work-principles-slider .work-principl-img {
    width: 100%;
    overflow: hidden;
  }

  #work-principles-slider > button.slick-prev {
    bottom: -12%;
    left: 40%;
  }

  #work-principles-slider > button.slick-next {
    bottom: -12%;
    right: 40%;
  }
}
@media (max-width: 1200px) {
  .main-directions .wrapper,
.work-principles .wrapper,
.partner-reviews .wrapper,
.clients .wrapper,
.triangle .wrapper,
.services .wrapper,
.confidence-benefit .wrapper,
.advantages-block2 .wrapper,
.cooperation .wrapper,
.service-cost .wrapper,
.footer .wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-directions .wrapper h2,
.main-directions .wrapper h4,
.work-principles .wrapper h2,
.work-principles .wrapper h4,
.partner-reviews .wrapper h2,
.partner-reviews .wrapper h4,
.clients .wrapper h2,
.clients .wrapper h4,
.triangle .wrapper h2,
.triangle .wrapper h4,
.services .wrapper h2,
.services .wrapper h4,
.confidence-benefit .wrapper h2,
.confidence-benefit .wrapper h4,
.advantages-block2 .wrapper h2,
.advantages-block2 .wrapper h4,
.cooperation .wrapper h2,
.cooperation .wrapper h4,
.service-cost .wrapper h2,
.service-cost .wrapper h4,
.footer .wrapper h2,
.footer .wrapper h4 {
    text-align: center;
  }

  .main-screen .carousel-item-content {
    max-width: 48rem;
  }

  .main-directions-title {
    text-align: center;
  }
  .main-directions-services {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-directions-services-card {
    margin: 2rem;
    margin-bottom: 3rem;
  }
  .main-directions-button {
    display: block;
    margin: 0 auto;
  }

  .partner-reviews {
    padding: 10rem 0 10.5rem 0;
  }
  .partner-reviews-slider {
    margin-bottom: 6rem;
  }
  .partner-reviews-button {
    display: block;
    margin: 0 auto;
  }

  #partner-reviews-slider > button.slick-prev {
    bottom: -4rem;
    left: 40%;
  }

  #partner-reviews-slider > button.slick-next {
    bottom: -3rem;
    right: 40%;
  }

  .advantages-block2 .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .advantages-block2 .advantages-card {
    margin: 1.5rem;
  }
  .advantages-block2 .advantages-card:first-child {
    margin-left: 1.5rem;
  }
  .advantages-block2 .advantages-card:last-child {
    margin-right: 1.5rem;
  }
  .advantages-block2-text {
    padding: 4rem 6rem 4.5rem 6rem;
  }

  .cooperation .wrapper {
    text-align: left;
  }
  .cooperation-content {
    margin: 0 1.5rem 3rem 1.5rem;
  }
  .cooperation-form {
    margin: 0 1.5rem 0 1.5rem;
  }

  .service-cost-text {
    margin: 0 auto 2.7rem;
  }
  .service-cost-button {
    display: block;
    margin: 0 auto;
  }

  .clients-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients-content-text {
    margin: 0 5rem 5rem;
  }
  .clients-images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients-images img {
    margin: 0 5rem 5rem;
  }

  .services-container {
    margin-bottom: 5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 140px 140px 140px 140px 140px;
    grid-template-columns: 370px 1fr 1fr 370px;
    grid-gap: 3rem;
  }
  .services-container div {
    padding: 2.5rem 3rem 0 10rem;
  }
  .services-container h5 {
    font-size: 1.6rem;
    text-align: left;
  }
  .services-container-item-1 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-container-item-2 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-container-item-3 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-4 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-5 {
    box-shadow: inset 5.5rem 0 0 0 #DEC377;
  }
  .services-container-item-6 {
    box-shadow: inset 5.5rem 0 0 0 #DEC377;
  }
  .services-container-item-7 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-8 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-9 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-container-item-10 {
    box-shadow: inset 5.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-describe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .services-describe-text {
    margin-bottom: 2.5rem;
  }
  .services-describe-button {
    display: block;
    margin: 0 2.5rem;
  }

  .confidence-benefit-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .confidence-benefit-content-left {
    margin: 0 5rem;
  }
  .confidence-benefit-content-right {
    text-align: left;
  }

  .footer-offices-content .address {
    padding-right: 0;
  }
  .footer-social {
    margin: 0 3rem 3rem;
  }
  .footer-offices {
    margin: 0 3rem 3rem;
  }
  .footer-offices-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-offices-content-1, .footer-offices-content-2, .footer-offices-content-3 {
    margin: 0 2rem 3rem;
  }
  .footer-working-hours {
    margin: 0 3rem 3rem;
  }
}
@media (max-width: 1100px) {
  .main-screen .carousel-item-content {
    max-width: 46rem;
  }

  .main-screen .content-title {
    font-size: 3.4rem;
  }

  .main-screen .content-subtitle {
    margin-bottom: 3rem;
  }
}
@media (max-width: 1000px) {
  .work-principles-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .work-principles-title {
    margin: 0 0 3rem 0;
  }

  .clients-content-text {
    text-align: center;
  }

  .triangle-bottom h4 {
    margin: 0 7rem 0 0;
  }
  .triangle-bottom p {
    max-width: 50rem;
  }

  .introduction-title {
    padding: 0 8rem;
  }

  .services-container {
    grid-template-rows: repeat(10, 140px);
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .services-container h5 {
    margin: 0 0 3.5rem 0;
  }
  .services-container-item-5 h5 {
    margin: 0 0 0.5rem 0;
  }
  .services-container-item-1 {
    grid-column: 1/2;
  }
  .services-container-item-2 {
    grid-column: 1/2;
  }
  .services-container-item-3 {
    grid-column: 1/2;
  }
  .services-container-item-4 {
    grid-column: 1/2;
  }
  .services-container-item-5 {
    grid-column: 1/2;
  }
  .services-container-item-6 {
    grid-column: 1/2;
  }
  .services-container-item-7 {
    grid-column: 1/2;
  }
  .services-container-item-8 {
    grid-column: 1/2;
  }
  .services-container-item-9 {
    grid-column: 1/2;
  }
  .services-container-item-10 {
    grid-column: 1/2;
  }

  .services-describe-text {
    text-align: center;
  }

  .service-cost-text {
    text-align: center;
  }
}
@media (max-width: 950px) {
  .main-screen .carousel-img {
    width: 200%;
    filter: grayscale(0.5) blur(7px);
  }

  .main-screen .carousel-item {
    padding: 6rem 0;
  }

  .main-screen .carousel-item-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #FFFFFF;
    padding: 2.5rem 3rem;
    width: 70rem;
  }

  #main-slider {
    height: 350px;
  }
}
@media (max-width: 800px) {
  .introduction-title {
    padding: 0 4rem;
  }

  .triangle-top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .triangle-top-left,
.triangle-top-right {
    margin: 0 1.5rem 2.5rem;
  }

  .triangle-top-left {
    order: 1;
  }
}
@media (max-width: 650px) {
  #main-slider {
    height: 400px;
  }

  .main-screen .carousel-img {
    width: 300%;
    filter: grayscale(0.5) blur(10px);
  }

  .main-screen .carousel-item {
    padding: 7rem 0;
  }

  .main-screen .carousel-item-content {
    padding: 2.5rem 1rem;
  }

  #main-slider > button.slick-next {
    bottom: 5%;
    left: 55%;
  }

  #main-slider > button.slick-prev {
    bottom: 5%;
    left: 40%;
  }

  .introduction-title {
    padding: 0;
  }

  .cooperation-content, .cooperation-form {
    max-width: 50rem;
  }
  .cooperation-form .contact-form-button {
    display: block;
    margin: 0 auto;
    max-width: 30rem;
  }

  .partner-reviews-slider {
    overflow: hidden;
    padding-bottom: 4rem;
  }

  .partner-reviews-slider .partner-review-img {
    width: 100%;
  }

  #work-principles-slider > button.slick-prev {
    bottom: -20%;
  }

  #work-principles-slider > button.slick-next {
    bottom: -20%;
  }

  .services-container {
    grid-template-rows: repeat(10, 170px);
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .services-container-item-1 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-container-item-2 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-container-item-3 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-4 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-5 {
    box-shadow: inset 3.5rem 0 0 0 #DEC377;
  }
  .services-container-item-6 {
    box-shadow: inset 3.5rem 0 0 0 #DEC377;
  }
  .services-container-item-7 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-8 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.75);
  }
  .services-container-item-9 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }
  .services-container-item-10 {
    box-shadow: inset 3.5rem 0 0 0 rgba(222, 195, 119, 0.4);
  }

  .services-container div {
    padding: 2.5rem 1.5rem 0 7rem;
  }

  .services-container h5 {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
  }
}
@media (max-width: 550px) {
  .main-screen .content-title {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }

  .main-screen .main-button {
    width: 15rem;
    height: 45px;
    font-size: 1.3rem;
  }

  .main-screen .carousel-item-content {
    max-width: 38rem;
  }

  .wrapper h2 {
    font-size: 2.2rem;
  }

  .introduction-container-img > img {
    width: 100%;
    overflow: hidden;
  }

  .triangle-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .triangle-bottom h4 {
    margin: 0;
  }

  .introduction-content {
    padding: 3rem 3rem 3rem 3rem;
  }
}
@media (max-width: 450px) {
  .main-directions .wrapper,
.work-principles .wrapper,
.partner-reviews .wrapper,
.clients .wrapper,
.triangle .wrapper,
.services .wrapper,
.confidence-benefit .wrapper,
.advantages-block2 .wrapper,
.cooperation .wrapper,
.service-cost .wrapper,
.footer .wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .main-screen .carousel-img {
    width: 400%;
    filter: grayscale(0.5) blur(10px);
  }

  .main-screen .content-title {
    font-size: 2.2rem;
  }

  .main-screen .main-button {
    width: 15rem;
    height: 45px;
    font-size: 1.3rem;
  }

  .main-screen .carousel-item-content {
    max-width: 28rem;
  }

  .clients .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .work-principles .wrapper {
    padding-bottom: 6rem;
  }

  .partner-reviews {
    padding-top: 3rem;
  }

  .main-screen .advantages-card {
    padding: 4rem 0 3rem;
  }

  .main-directions-services-card {
    padding: 1.5rem 1.5rem 2.5rem 2.5rem;
  }

  .main-directions-services-card-content {
    margin-right: 0;
  }

  .cooperation-content-list li:before {
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
  }

  .cooperation-content-list li {
    text-align: center;
    padding-top: 9rem;
    padding-left: 0;
  }

  .cooperation-form .contact-form-button {
    max-width: 20rem;
    font-size: 1rem;
  }

  .cooperation-content-text {
    text-align: center;
  }

  #work-principles-slider > button.slick-prev {
    height: 2rem;
  }

  #work-principles-slider > button.slick-next {
    height: 2rem;
  }

  .confidence-benefit .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .confidence-benefit-content-left,
.confidence-benefit-content-right {
    margin: 0 0.5rem;
  }

  .advantages-block2-text {
    padding: 4rem 3rem 4.5rem 3rem;
  }

  .triangle-bottom,
.triangle-top-left,
.triangle-top-right {
    padding: 3.5rem 3rem 4.5rem 3rem;
  }

  .partner-reviews-slider .partner-review-name {
    font-size: 2rem;
  }

  .partner-reviews-slider .partner-review-content {
    padding: 0 2rem 6.5rem 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
